<!DOCTYPE html>
<html>
<head>
    <title>MicroServices Converter</title>
    
</head>
<body>
    <script src="https://accounts.google.com/gsi/client" async></script>

    <center><h1>MicroServices Converter</h1></center>
    <div id="g_id_onload"
     data-client_id="27377431828-slhtq2am6nagu69kfmb4vn5pl8g8j4ma.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="http://localhost:8080/user/google/auth/callback"
     data-auto_prompt="false">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>
<h2>hello</h2>
</body>
</html>